.logo{width:130px;
     height:100px;
    padding:7px 5px; 
    }

#nav__heading{
    padding-top:30px;
}
#nav{
    margin:1px;
    border-radius: 2px;
    height:90px;
    border:2px double rgb(31, 16, 16)
}